/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{ @apply !text-lg sm:!text-3xl; }
#navigation{ @apply absolute bottom-0 left-0 w-full text-center; }